/*** Estilos para Escritorio ***/
@media (min-width: 992px) {
  .navbar-brand img {
    max-height: 40px;
    margin-right: 10px;
  }

  .navbar-nav .nav-link {
    font-family: "Bebas Neue", sans-serif;
    color: #fff !important;
    font-size: 20px;
  }

  body {
    font-family: "Roboto Flex", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .dmode-button {
    max-height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .dmode-button.clicked {
    transform: rotateY(180deg);
  }

  .dark-mode {
    background-color: #333;
    color: #fff;
  }

  .dark-mode-text,
  .light-mode-text {
    font-size: 12px;
    color: #fff;
    margin-left: 5px;
    font-weight: bold;
    display: inline-block;
  }

  .hidden {
    display: none;
  }

  .navbar-nav {
    margin-left: auto;
  }

  .container {
    text-align: center;
    flex: 1;
  }

  .dropdown-menu {
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }

  .dropdown-item {
    color: #000;
    transition: color 0.3s ease;
  }

  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: black;
    color: #fff;
  }

  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }

  .footer-text {
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
  }

  .footer-link {
    color: #fff;
    text-decoration: none;
  }

  .footer-logo {
    max-height: 20px;
    margin-left: 10px;
  }

  .nav-item a:hover:not(.dropdown-item):not(.language-text) {
    transform: scale(0.9);
  }

  /* ESTILOS PARA LAS IMAGENES DEL CAROUSEL */
  .carousel-item img {
    height: 70vh;
    object-fit: cover;
  }

  /* ESTILOS PARA EL TEXTO SOBRE LAS IMAGENES */
  .carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #fff;
  }

  /* margen del primer "carousel" */
  .carousel-item {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* ESTILOS CSS PARA LAS CARDs */
  .card-wrapper {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
  }

  .card {
    width: 220px;
    border: 3px solid;
    margin: 0;
    transition: transform 0.3s;
  }

  .card:hover {
    transform: scale(0.95);
  }

  .card-img-top {
    height: 200px;
    object-fit: cover;
  }

  .card-title {
    color: white;
  }

  .card-description {
    color: white;
  }

  .card-orange {
    background-color: orange;
    border-color: orange;
  }

  .card-red {
    background-color: red;
    border-color: red;
  }

  .card-black {
    background-color: black;
    border-color: black;
  }

  .card-violet {
    background-color: darkviolet;
    border-color: darkviolet;
  }

  .card-gray {
    background-color: lightgray;
    border-color: lightgray;
  }

  .card-gray .card-title,
  .card-gray .card-description {
    color: black;
  }

  /* ESTILOS PARA LA API REST */
  .api-rest-container .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin: 0;
    padding: 0;
  }

  .api-rest-container .character-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }

  .api-rest-container .character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 10px;
    text-align: center;
    margin: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .api-rest-container .character-card:hover {
    transform: scale(1.2);
  }

  .api-rest-container .character-image {
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s ease;
  }

  .api-rest-container .character-name {
    font-size: 14px;
    margin-bottom: 2px;
    color: #aaa;
    opacity: 0.9;
    font-weight: normal;
    transition: all 0.3s ease;
  }

  .api-rest-container .character-card:hover .character-name {
    color: #9d9d9d;
    font-weight: bold;
  }

  /* ESTILOS PARA EL FORMULARIO */
  .form-container {
    display: flex;
    justify-content: center;
    height: 90vh;
  }

  .form-container form {
    text-align: center;
    width: 300px;
  }

  .form-container form div {
    margin-bottom: 10px;
    text-align: left;
  }

  .form-container form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-container form input,
  .form-container form textarea {
    width: 100%;
    border-radius: 4px;
    border: 2px solid #ccc;
    padding: 8px;
  }

  .form-container form input[type="submit"] {
    width: calc(100%);
    background-color: #006994;
    color: white;
    font-weight: bold;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-container form input[type="submit"]:hover {
    background-color: #00507c;
  }

  /*ESTILOS BOTÓN "SUBIR"*/
  #myBtn {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: #006994;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
  }
}

/*** Estilos para Tablet ***/
@media (min-width: 768px) and (max-width: 991px) {

  /* ESTILOS CSS PARA LA NAVEGACIÓN */
  .navbar-brand img {
    max-height: 30px;
    margin-right: 5px;
  }

  .navbar-nav .nav-link {
    font-size: 16px;
  }

  /* ESTILOS PARA EL CONTENEDOR PRINCIPAL */
  .main-content-container {
    padding: 20px;
  }

  /* ESTILOS PARA LAS IMÁGENES DEL CAROUSEL */
  .carousel-item img {
    height: 50vh;
  }

  /* ESTILOS PARA EL TEXTO SOBRE LAS IMÁGENES */
  .carousel-caption {
    font-size: 14px;
    bottom: 10px;
  }

  /* ESTILOS CSS PARA LAS CARDs */
  .card-wrapper {
    gap: 10px;
    margin-bottom: 10px;
  }

  .card {
    width: 180px;
  }

  .card-img-top {
    height: 150px;
  }

  .card-title {
    font-size: 14px;
  }

  .card-description {
    font-size: 12px;
  }

  /* ESTILOS PARA LA API REST */
  .api-rest-container .character-card {
    padding: 5px;
    margin: 3px;
  }

  .api-rest-container .character-image {
    width: 120px;
    height: 120px;
    margin-bottom: 3px;
  }

  .api-rest-container .character-name {
    font-size: 12px;
    margin-bottom: 1px;
  }

  /* ESTILOS PARA EL FORMULARIO */
  .form-container form {
    width: 250px;
  }

  .form-container form input,
  .form-container form textarea {
    padding: 6px;
  }

  .form-container form input[type="submit"] {
    padding: 6px;
  }
}

/*** Estilos para Móviles ***/
@media (max-width: 767px) {

  /* ESTILOS CSS PARA LA NAVEGACIÓN */
  .navbar-brand img {
    max-height: 25px;
    margin-right: 3px;
  }

  .navbar-nav .nav-link {
    font-size: 14px;
  }

  /* ESTILOS PARA EL CONTENEDOR PRINCIPAL */
  .main-content-container {
    padding: 10px;
  }

  /* ESTILOS PARA LAS IMÁGENES DEL CAROUSEL */
  .carousel-item img {
    height: 40vh;
  }

  /* ESTILOS PARA EL TEXTO SOBRE LAS IMÁGENES */
  .carousel-caption {
    font-size: 12px;
    bottom: 5px;
    padding: 5px;
  }

  /* ESTILOS CSS PARA LAS CARDs */
  .card-wrapper {
    flex-direction: column;
    gap: 10px;
  }

  .card {
    width: 100%;
  }

  .card-img-top {
    height: 150px;
  }

  .card-title {
    font-size: 14px;
  }

  .card-description {
    font-size: 12px;
  }

  /* ESTILOS PARA LA API REST */
  .api-rest-container .character-card {
    padding: 5px;
    margin: 3px;
  }

  .api-rest-container .character-image {
    width: 100px;
    height: 100px;
    margin-bottom: 3px;
  }

  .api-rest-container .character-name {
    font-size: 12px;
    margin-bottom: 1px;
  }

  /* ESTILOS PARA EL FORMULARIO */
  .form-container form {
    width: 250px;
  }

  .form-container form input,
  .form-container form textarea {
    padding: 6px;
  }

  .form-container form input[type="submit"] {
    padding: 6px;
  }

  /* ESTILOS PARA EL BOTÓN "SUBIR" */
  #myBtn {
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    padding: 10px;
  }

  /* Mantiene el "Footer" siempre en la parte inferior */
  .main-content-container {
    flex: 1;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

/* FIN del código ;) */